<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</footer>


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/home">Plume</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul  class="navbar-nav ml-auto">
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="nav-item">
                <a class="nav-link" href="/role/all">Admin Panel</a>
                </li>
            </div>
            <div sec:authorize="hasRole('ROLE_MODERATOR')">
                <li class="nav-item">
                <a class="nav-link" th:href="@{/article/user}">Writer Panel</a>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <div sec:authorize="!hasRole('ROLE_MODERATOR')">
                        <a class="nav-link" href="/makeModerator">Wanna be writer</a>
                    </div>
                <form id="logoutForm" method="POST" th:action="@{/logout}">
                </form>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                <a class="nav-item nav-link" onclick="document.forms['logoutForm'].submit()">Logout</a>
                </li>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a class="nav-item nav-link" href="/login">Login</a>
            </div>
        </ul>
    </div>
</nav>


<div th:fragment="sidebar" class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="position-fixed">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <h2 class="fs-5 d-none d-sm-inline">Plume</h2>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/article/user" class="nav-link align-middle px-0">
                    <h3 class="ms-1 d-none d-sm-inline text-center">My posts</h3>
                </a>
            </li>
            <li class="nav-item mt-4">
                <a href="/article/editPostPage" class="nav-link align-middle px-0">
                    <h3 class="ms-1 d-none d-sm-inline text-center">Create Post</h3>
                </a>
            </li>
            <li class="nav-item mt-4">
                <a href="/tag/all" class="nav-link align-middle px-0">
                    <h3 class="ms-1 d-none d-sm-inline text-center">All tags</h3>
                </a>
            </li>
            <li class="nav-item mt-4">
                <a href="/subscription/all" class="nav-link align-middle px-0">
                    <h3 class="ms-1 d-none d-sm-inline text-center">All subscriptions</h3>
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>
</div>


<div th:fragment="sidebarAdmin" class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="position-fixed">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <h2 class="fs-5 d-none d-sm-inline">Plume</h2>
            </a>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item">
                    <a href="/role/all" class="nav-link align-middle px-0">
                        <h3 class="ms-1 d-none d-sm-inline text-center">Levels</h3>
                    </a>
                </li>
                <li class="nav-item mt-4">
                    <a href="/role/editRolePage" class="nav-link align-middle px-0">
                        <h3 class="ms-1 d-none d-sm-inline text-center">Create level</h3>
                    </a>
                </li>
                <li class="nav-item mt-4">
                    <a href="/tag/all/admin" class="nav-link align-middle px-0">
                        <h3 class="ms-1 d-none d-sm-inline text-center">All tags</h3>
                    </a>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</div>