*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}

.main-row .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: -90px;
    top: -40px;
}
.shape:last-child{
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: -80px;
    bottom: -40px;
    z-index: -1;
}

.role-card{
    background: linear-gradient(to bottom right, blue, indianred);
}

.card-title .title-post a, a:visited, a:hover, a:active {
    color: inherit;
}

.container .title{
    color: #e5e5e5;
}

.nav-link{
    font-weight: 600;
    font-size: 20px;
}

.navbar-brand{
    font-size: 25px;
}

.card{
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 20px;
    margin-top: 20px;
}
.card *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.card h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}

.has-error{
    color: #ff512f;
}
.card .btn-primary{
    margin-top: 50px;
    width: 100%;
    background: linear-gradient(to bottom right, blue, indianred);
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}