.sidebar{
    background: linear-gradient(to bottom, blue, indianred);
    margin-bottom: -1000px; /* any large number will do */
    padding-bottom: 1000px;
}

.sidebar .nav-link{
    color: #080710;
}

.sidebar a:hover{
    color: gray;
}

.modal-body{
    color: #080710;
}

.modal-backdrop {
    position: relative;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}


.card{
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 20px;
    margin-top: 20px;
}
.card *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    color: #e5e5e5;
}

.card input{
    color: #080710;
}

.card select{
    color: #080710;
}

.card option{
    color: #080710;
}

.modal-title{
    color: #080710;
}

.modal-body{
    color: #080710;
}

.card h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #e5e5e5;
}

.card .checkbox{
    height: 16px;
    width: 10%;
    display: inline;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 26px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.has-error{
    color: #ff512f;
}
.card .btn-primary{
    width: 100%;
    background: linear-gradient(to bottom right, blue, indianred);
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.card .btn-error{
    width: 100%;
    background: linear-gradient(to bottom right, darkred, indianred);
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

