<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderator panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/moderator.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragments/general.html :: sidebar"></div>
        <div class="col py-3">
            <div class="card">
                <div class="card-body">
                    <form method="POST" class="edit-post" th:object="${post}" th:action="@{/article/save}">
                        <h3 class="form-signin-heading">Create your post</h3>
                        <input type="hidden" th:field="*{id}" th:if="${post != null}" th:value="${post.id}"
                               class="form-control" id="id">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" th:field="*{title}" th:value="${post?.title}"
                                   class="form-control" placeholder="Title" autofocus="true" id="title" required="true">
                        </div>
                        <div class="form-group">
                            <label for="tag">Tags</label>
                            <input type="checkbox" name="tags"
                                   th:each="tag : ${tags}"
                                   th:text="'<- ' + ${tag.name}"
                                   th:value="${tag.id}"
                                   th:field="*{tags}"
                                   th:checked="${post.tags?.contains(tag)}"
                                   class="form-control checkbox" autofocus="true" id="tag">
                        </div>
                        <div class="form-group">
                            <label for="brief">Brief</label>
                            <input type="text" th:field="*{brief}" class="form-control" placeholder="Brief"
                                   autofocus="true" id="brief" required="true" min="100" th:value="${post?.brief}">
                        </div>
                        <div class="form-group">
                            <label for="cover">Cover</label>
                            <input type="text" th:field="*{cover}" class="form-control" placeholder="Link to image"
                                   id="cover" required="true"  th:value="${post?.cover}">
                        </div>

                        <div class="form-group">
                            <label for="weight">Access level</label>
                            <select th:field="*{weight}" required="true" id="weight"  th:value="${post?.weight}">
                                <option th:each="role : ${roles}" th:value="${role.weight}" th:text="${role.title}">
                                </option>
                                <option th:value="${0}">Any user</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="summernote">Post content</label>
                            <textarea id="summernote" name="description" th:field="*{description}"
                                      required="true"  th:value="${post?.description}"></textarea>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
</script>
</body>
</html>