<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderator panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/moderator.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragments/general.html :: sidebarAdmin"></div>
        <div class="col py-3">
            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <form method="POST" class="edit-post" th:object="${role}" th:action="@{/role/save}">
                        <h3 class="form-signin-heading">Create your level</h3>
                        <input type="hidden" th:field="*{id}" th:if="${role != null}" th:value="${role.id}"
                               class="form-control" id="id">
                        <div class="form-group">
                            <label for="title">Name</label>
                            <input type="text" th:field="*{name}" th:value="${role?.name}"
                                   class="form-control" placeholder="Name" autofocus="true" id="name" required="true">
                        </div>
                        <div class="form-group">
                            <label for="weight">Weight</label>
                            <input type="text" th:field="*{weight}" th:value="${role?.weight}"
                                   class="form-control" placeholder="Weight" autofocus="true" id="weight" required="true">
                        </div>
                        <div class="form-group">
                            <label for="title">Name</label>
                            <input type="text" th:field="*{title}" th:value="${role?.title}"
                                   class="form-control" placeholder="Title" autofocus="true" id="title" required="true">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" th:field="*{description}" th:value="${role?.description}"
                                   class="form-control" placeholder="Description" autofocus="true" id="description" required="true">
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>