<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="/css/error_style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="row row-error">
        <div class="col-md-12">
            <div class="error-template">
                <h1 class="text-center">Oops!</h1>
                <h2 class="mt-5 text-center" th:text="${errorStatus}"></h2>
                <div class="mt-5 text-center" th:text="${errorText}"></div>
                <div class="mt-5 text-center" th:if="${email != null}" th:text="'Email: ' + ${email}"></div>
                <div class="error-actions">
                    <a href="/home" class="button btn btn-primary btn-lg mt-5">
                        Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>