<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Explore creators</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/general.html :: nav"></div>
<div role="main" class="container mt-5 pt-5">

    <h2 class="title text-center mt-5">Explore creators</h2>

    <div class="row mt-5">
        <div class="col">
            <div id="users" class="mb-3">
                <div class="main-row row">
                    <div class="shape"></div>
                    <div th:each="user : ${users}" class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title" th:text="${user.username}">Writer name</h3>
                                <p class="card-text" th:text="${user.bio}">about writer</p>
                                <a th:href="'/article/all?username=' + ${user.username}" class="btn btn-primary">View posts</a>
                            </div>
                        </div>
                    </div>
                    <div class="shape"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>