<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/form_style.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form class="form-signin" method="POST" th:action="@{/login}">
        <h3 class="form-heading">Log in</h3>

            <div class="form-group">
                <label for="username">Username</label>
                <input name="username" type="text" class="form-control" placeholder="Username"
                       autofocus="true" id="username" required="true"/>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" placeholder="Password"
                       id="password" required="true"/>
                <span class="has-error" th:text="${error}"></span>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h5 class="text-center mt-4">Do not have an account? <a href="/registration">Sing Up</a></h5>
        <h5 class="text-center mt-2"><a href="/" style="color:blue;">Back Home</a></h5>
    </form>
</div>

<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>