<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderator panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/moderator.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragments/general.html :: sidebar"></div>
        <div class="col py-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Creation Date</th>
                            <th scope="col" class="text-center">EDIT</th>
                            <th scope="col" class="text-center">DELETE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post : ${posts}">
                            <th scope="row" th:text="${post.id}"></th>
                            <td th:text="${post.title}"></td>
                            <td th:text="${post.weight}"></td>
                            <td th:text="${#temporals.format(post.dateOfCreation, 'dd-MM-yyyy HH:mm')}"></td>
                            <td><a th:href="'/article/editPostPage?postId=' + ${post.id}" class="button btn btn-primary">
                                EDIT </a></td>
                            <td><a type="button" data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${post.id}" class="button btn btn-error">
                                DELETE </a></td>
                            <!-- Modal -->
                            <div class="modal fade" th:attr="id='recordDeleteModal'+${post?.id}" tabindex="-1" role="dialog" aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="recordDeleteModalLabel">Delete Post</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this post?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <form id="deleteForm" th:method="delete" th:action="'/article/delete?postId='+${post?.id}"/>
                                            <a class="btn btn-secondary" onclick="document.forms['deleteForm'].submit()">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>