<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Explore creators</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/post.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/general.html :: nav"></div>
<div role="main" class="container mb-5">

    <h2 class="title text-center mt-5" th:text="${post.title}"></h2>
    <p class="text-center mt-2" th:text="'Date of creation: ' + ${#temporals.format(post.dateOfCreation, 'dd-MM-yyyy HH:mm')}"></p>
    <p class="text-center mt-2" th:text="'Author: ' + ${post.author.username}"></p>
    <p class="mt-5 mb-5" th:utext="${post.description}"></p>
</div>

<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>