<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Explore creators</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/general.html :: nav"></div>
<div role="main" class="container mt-5 pt-5">

    <h2 class="title text-center mt-5">Levels of access</h2>

    <div class="row mt-5">
        <div class="col">
            <div id="roles" class="mb-3">
                <div class="role-row row">
                    <div th:each="role : ${roles}" class="col-sm-4">
                        <div class="card mb-3 role-card">
                            <div class="card-body">
                                <h3 class="card-title" th:text="${role.title}"></h3>
                                <p class="card-text text-center" th:text="'Access level: ' + ${role.weight}"></p>
                                <p class="card-text text-center" th:text="${role.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="title text-center mt-5" th:text="'Posts of ' + ${username}">Posts</h2>
    <h4 class="title text-center" th:text="'Author email: ' + ${email}">Posts</h4>

    <div class="row mt-5">
        <div class="col">
            <div id="posts" class="mb-3">
                <div class="main-row row">
                    <div class="shape"></div>
                    <div th:each="post : ${posts}" class="col-sm-4">
                        <div class="card mb-3">
                            <a th:href="'/article?postId=' + ${post.id}"><img class="card-img-top" th:src="${post.cover}" alt="Card image cap"></a>
                            <div class="card-body">
                                <h3 class="card-title"><a class="title-post" th:text="${post.title}" th:href="'/article?postId=' + ${post.id}"></a></h3>
                                <p class="text-center" th:text="'Access level: ' + ${post.weight}"></p>
                                <div th:each="tag : ${post.tags}" class="d-inline p-1">
                                    <a class="badge badge-primary" th:href="'/article/tag?tagId=' + ${tag.id} + '&username=' + ${username}" th:text="${tag.name}"></a>
                                </div>
                                <p class="card-text mt-2" th:text="${post.brief}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="shape"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>