<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/form_style.css}" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST" class="form-signin" th:object="${userForm}" th:action="@{/registration}">
        <h3 class="form-signin-heading">Create your account</h3>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" class="form-control" placeholder="Username"
                   autofocus="true" id="username" required="true">
            <span class="has-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" class="form-control" placeholder="Email"
                   autofocus="true" id="email" required="true">
            <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" class="form-control" placeholder="Password"
                   id="password" required="true">
            <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

        <div class="form-group">
            <label for="passwordConfirm">Password again</label>
            <input type="password" th:field="*{passwordConfirm}" class="form-control"
                   placeholder="Confirm your password" id="passwordConfirm" required="true">
            <span class="has-error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <h5 class="text-center mt-4">Already have one?  <a href="/login">Sing In</a></h5>
        <h5 class="text-center mt-2"><a href="/" style="color:blue;">Back Home</a></h5>
    </form>

</div>

<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>