<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderator panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/moderator.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragments/general.html :: sidebar"></div>
        <div class="col py-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Reader</th>
                            <th scope="col">Role</th>
                            <th scope="col" class="text-center">DELETE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="sub : ${subscriptions}">
                            <th scope="row" th:text="${sub.reader}"></th>
                            <td th:text="${sub.role.name}"></td>
                            <td><a type="button" data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${sub.id}" class="button btn btn-error btn-sm">
                                DELETE </a></td>
                            <!-- Modal -->
                            <div class="modal fade" th:attr="id='recordDeleteModal'+${sub?.id}" tabindex="-1" role="dialog" aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="recordDeleteModalLabel">Delete Subscription</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this subscription?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <form id="deleteForm" th:method="delete" th:action="'/subscription/delete?subId='+${sub?.id}">
                                                <a class="btn btn-secondary btn-lg" onclick="document.forms['deleteForm'].submit()">Yes</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </tr>
                        </tbody>
                    </table>
                    <form class="form-addTag" method="POST" th:action="@{/subscription/save}" id="addFrom">
                        <div class="form-group">
                            <label for="role">Reader username</label>
                        <input th:name="reader" type="text" class="form-control" placeholder="Reader's username"
                               autofocus="true" id="reader" required="true"/>
                        </div>
                        <div class="form-group">
                            <label for="role">Access level</label>
                            <select required="true" id="role" th:name="role">
                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.title}">
                                </option>
                            </select>
                        </div>
                        <span class="has-error" th:text="${error}"></span>
                        <span class="input-group-btn">
                                <button class="btn btn-primary btn-sm" type="submit">ADD</button>
                            </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>