<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderator panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/moderator.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div th:replace="fragments/general.html :: sidebar"></div>
        <div class="col py-3">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tag : ${tags}">
                            <th scope="row" th:text="${tag.id}"></th>
                            <td th:text="${tag.name}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <form class="form-addTag" method="POST" th:action="@{/tag/save}" id="addFrom">
                            <input th:name="name" type="text" class="form-control" placeholder="Name"
                                   autofocus="true" id="name" required="true"/>
                            <span class="has-error" th:text="${error}"></span>
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-sm" type="submit">ADD</button>
                            </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>